############################
# Art Institute of Vancouver

##################
#	Semester_1

#		GAD100 History of Games
Art Institute of Vancouver/Semester_1/GAD100 History of Games/teacher/

#		VGP110 Programming in C I
Art Institute of Vancouver/Semester_1/VGP110 Programming in C I/Muntaseer/

#		VGP126 Applied Mathematics
Art Institute of Vancouver/Semester_1/VGP126 Applied Mathematics/teacher

##################
#	Semester_2

#		VGP104 Software Development and Testing
Art Institute of Vancouver/Semester_2/VGP104 Software Development and Testing/teacher/

#		VGP120 Procedural Programming in C II
Art Institute of Vancouver/Semester_2/VGP120 Procedural Programming in C II/teacher/

#		VGP128 Geometry and Linear Algebra
Art Institute of Vancouver/Semester_2/VGP128 Geometry and Linear Algebra/James McGovern/